<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body class="mt-4">

    <section class="bg-dark text-light p-5 pt-lg-0 pt-lg-4 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Don't Get <span class="text-warning">Knocked Out</span> </h1>
                    <p class="lead my-4">
                        Join a tournament right now to prove you've got what it takes.
                        Sign up your team to take on the competition and prove to everyone
                        you deserve the number one spot.
                    </p>

                    <% if(currentUser && currentUser.role === 'team'){ %>
                    <a href="/tournaments" class="btn btn-primary btn-lg">Join</a>
                    <% } else { %>
                    <a href="/register" class="btn btn-primary btn-lg">Sign Up</a>
                    <% } %>

                </div>
                <div class="col bg-dark text-dark">
                    xxxxxxxxxxxxxxxxxxxx
                </div>
                <img class="img-fluid w-20 px-5" src="/images/bxglove.png" alt="">
            </div>
        </div>
    </section>

    <section class="bg-white text-light p-2">
    </section>

    <!--Boxes-->
    <div class="section-p5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md">
                    <div class="card bg-dark text-light  h-100">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-diagram-3"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Organizers
                            </h3>
                            <p class="card-text">
                                As a tournament organizer it is your responsibility to create a fun and fair environment
                                for all participants. Carefully consider the necessities of all parties before creating
                                a tournament.
                            </p>
                            <% if(currentUser && currentUser.role == 'organizer') { %>
                            <a href="/tournaments" class="btn btn-primary">View Tournaments</a>
                            <% } %>
                            <a href="/organizer/create" class="btn btn-primary">Create Tournament</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light h-100">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-terminal"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Admin
                            </h3>
                            <p class="card-text">
                                Admins need to login to prove their credentials because they have a lot of power and we
                                all know the saying, so I won't say it again...just kidding!
                                "With great power comes lots of passwords to remember and i've lost more passwords than
                                you've remembered." - Uncle Ben
                            </p>
                            <a href="/admin" class="btn btn-dark">Admin Tools</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-white text-light p-2">
    </section>
</body>

  
  <body style="background-color: white; color: black">
    <div class="container">
      
        <hr class="my-4" />
        <div id="thought"></div>
        <div class="row">
  
          
        </div>
        <div class="container mt-6">
          
          <input id="countnum" type="hidden" />
          <button
            class="btn btn-outline-primary btn-lg"
            role="button"
            id="nextthought">
            New Quote
          </button>
        </div>
      </div>
    </div>

<%- include('./partials/footer') %>
<script>let url = "https://type.fit/api/quotes";
    fetch(url)
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        let a = 0;
      
        let nextthought = document.getElementById("nextthought");
        nextthought.addEventListener("click", function () {
          let countnum = document.getElementById("countnum");
      
          countnum.value = ++a;
      
          displaythought(countnum.value, data);
        });
      
        displaythought(0, data);
      });
      
    function displaythought(index, data) {
      let thought = document.getElementById("thought");
      
      if (data[index].author == null) {
        data[index].author = "unknown";
      }
      
      let htmlthought = `<div class="alert alert-outline-primary">
                ${data[index].text}<br>
                <span style="color:#00ffc5;">
                    ${data[index].author}
                </span>
            </div>`;
      thought.innerHTML = htmlthought;
    }</script>