
body {
    background: #eee;
}

.middle {
    vertical-align: middle;
}

.center {
    text-align: center;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

#tab-list {
    word-wrap: break-word;
    text-align: center;
}