
.list-group li {
    margin-bottom: 12px;
}

body {
    background: #eee;
}

.team-listItem {
    transition: all 0.2s ease;
    cursor: pointer;
}

.middle {
    vertical-align: middle;
}

.center {
    text-align: center;
}

