body {
    background-color: #000;
}

h1 {
    font-size: 4em;
    text-shadow: 2px 2px 10px black;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}


