<%- include('../partials/head') %>
<%- include('../partials/header') %>

    <body class="mt-5">
        <div class="container">
            <h2 class="text-center">Tournaments You Can Join</h2>

            <table class="table table-hover mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Tournament 1</td>
                        <td>64</td>
                        <td>Single Elimination</td>
                        <td><button class="btn btn-primary">Join</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Tournament 2</td>
                        <td>4</td>
                        <td>Double Elimination</td>
                        <td><button class="btn btn-primary">Join</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Tournament 3</td>
                        <td>16</td>
                        <td>Single Elimination</td>
                        <td><button class="btn btn-primary">Join</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
<%- include('../partials/footer') %>